In [1]:
# Initialize Dict

In [3]:
a = {1}                 # Key : value

type(a)

set

In [4]:
a = {'PAN01' : 'Name1', 'PAN02' : 'NAME2', 'PAN03' : 'NAME3'}              # name with pan number

In [5]:
print(a)

{'PAN01': 'Name1', 'PAN02': 'NAME2', 'PAN03': 'NAME3'}

In [6]:
# fetch value from Dict
a['PAN03']

'NAME3'

In [7]:
a.get('PAN02')

'NAME2'

In [8]:
a['PAN04']

KeyError: 'PAN04'

In [9]:
a.get('PAN04')

In [10]:
a

{'PAN01': 'Name1', 'PAN02': 'NAME2', 'PAN03': 'NAME3'}

In [11]:
a['PAN03'] = 100

In [12]:
a

{'PAN01': 'Name1', 'PAN02': 'NAME2', 'PAN03': 100}

In [13]:
a['PAN03']

100

In [23]:
print(a.get('PAN11', 'abs'))

abs

In [24]:
a.keys()

dict_keys(['PAN01', 'PAN02', 'PAN03'])

In [25]:
a.values()

dict_values(['Name1', 'NAME2', 100])

In [26]:
a.items()

dict_items([('PAN01', 'Name1'), ('PAN02', 'NAME2'), ('PAN03', 100)])

In [27]:
a

{'PAN01': 'Name1', 'PAN02': 'NAME2', 'PAN03': 100}

In [30]:
for i, j in a.items():
    print(i, j)

PAN01 Name1
PAN02 NAME2
PAN03 100

In [36]:
a = 100
b = 200
c = 300

In [37]:
if(a > b and a > c):
    print("bigger one is", a)
elif(b > c):
    print("bigger one is ", b)
else:
    print("bigger one is", c)

bigger one is 200

In [38]:
input01 = "testleaf"

for i in "testleaf":
    print(i)

t
e
s
t
l
e
a
f

### 1. Write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [45]:
dic = {}
for i in range(1, 9):
    dic[i] = i*i

In [44]:
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### 2. Write a Program for get given character count for given String

In [48]:
txt = 'testleaf'
ch = 'e'

count = 0
char_count = {}

for eachstr in txt:
    if(eachstr == ch):
        count = count + 1
        char_count[eachstr] = count
        
        
char_count

{'e': 2}

In [56]:
count = 0
dt = {}

for i in 'testleaf':
    if(i == 'e'):
        count = count + 1
        dt[i] = count
print(dt)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)