In [1]:
# user Def func:-

def sq(aa):
    return a**2

In [11]:
sq(10)

100

In [3]:
sq

In [4]:
def add_num(a, b):
    return a+b

In [6]:
add_num

In [7]:
- LAMBDA
- MAP
- FILTER
- REDuCE
- List Comp
- Enumu


# Lambda func:- (Anonymous Fun - without name)
    - lambda operator or lambda func
    - its doesnt return value but its returns expressions.
    - LAMBDA

In [8]:
# lambda argument : expression

In [13]:
x = lambda a : a**2

In [14]:
x(10)

100

In [15]:
x = lambda a, b: a+b

In [16]:
x(2, 4)

6

In [17]:
# Map

In [26]:
def sq(a):
    return a**2

In [27]:
sq(100)

10000

In [28]:
x = [1, 2, 3, 4, 5]

In [29]:
for i in x:
    print(sq(i))

1
4
9
16
25

In [ ]:
for i in x:
    lambda a : a**2

In [30]:
# Map:-

In [31]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
fn = lambda a : a*2

In [34]:
fn(3)

6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
ls = []
for i in x:
    ls.append(i*2)

In [37]:
ls

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
# map(fn, collection)

In [40]:
def mul(a):
    return a*2

In [46]:
print(list(map(mul, [100, 200, 300])))

set(map(mul, [4, 5, 6]))

[200, 400, 600]

(8, 10, 12)

In [47]:
set(map(lambda a : a*2, [1, 2, 3]))

{2, 4, 6}

In [48]:
name = "Divya"

name.upper()

'DIVYA'

In [49]:
fn = lambda s : s.upper()

In [50]:
fn('i')

'I'

In [53]:
ot = list(map(lambda s : s.upper(), name))

In [54]:
''.join(ot)

'DIVYA'

In [56]:
input = "Python program is always kills".split()
fn = lambda s : s.upper()
out = list(map(fn, input))

" ".join(out)

'PYTHON PROGRAM IS ALWAYS KILLS'

In [ ]:
input = "Python program is always kills"



output = [6, 7, 2, 6, 5]

In [67]:
input = "Python program is always kills".split()

ls = []
for i in input:
    ls.append(len(i))
    
ls

[6, 7, 2, 6, 5]

In [64]:
def count_of_each_word(data):
    input = data.split()
    ls = []
    for i in input:
        ls.append(len(i))
    print(ls)

In [65]:
count_of_each_word("python is very very....")

['python', 'is', 'very', 'very....']
[6, 2, 4, 8]

In [70]:
input = "Python program is always kills".split()

fn = lambda a : len(a)
list(map(fn, input))

[6, 7, 2, 6, 5]

In [71]:
list(map(lambda a :len(a), "Python program is always kills".split()))

[6, 7, 2, 6, 5]

In [72]:
def con_upper(data):
    return data.upper()

In [73]:
con_upper('gopi')

'GOPI'

In [74]:
set(map(con_upper, ['aaa', 'bbb', 'ccc']))

{'AAA', 'BBB', 'CCC'}

In [79]:
# map(func, iterable)
# map(func, iterable1, iterable2, iterable3.....)



fn = lambda a, b, c : a + b + c

ls1 = [1, 2, 3, 4, 5]
ls2 = [100]
ls3 = [1000, 2000, 3000]

list(map(fn, ls1, ls2, ls3))

[1101]

In [81]:
# filter

#syntax:-
 #       filter(func, iterable)

In [85]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lt = []
for i in lst:
    if(i%2 ==0):
        lt.append(i)
        
lt

[2, 4, 6, 8, 10]

In [88]:
def fetch_even_num(*lst):
    lt = []
    for i in lst:
        if(i%2 ==0):
            lt.append(i)
    print(lt)

In [90]:
fetch_even_num(101, 202, 303, 404, 505, 606, 707, 808, 909, 1000)

[202, 404, 606, 808, 1000]

In [91]:
fn = lambda n : (n%2==0)

In [94]:
list(map(fn, [101, 202, 303, 404, 505, 606, 707, 808, 909, 1000]))

[False, True, False, True, False, True, False, True, False, True]

In [95]:
list(filter(fn, [101, 202, 303, 404, 505, 606, 707, 808, 909, 1000]))

[202, 404, 606, 808, 1000]